
/**
 * Project:
 *   HWCTravel
 *
 * Designer & Developer:
 *   M Khalemi, http://www.hostwaves.com/
 *
 */

html {
  direction: ltr; /* LTR */
  font-size: 62.5%;
}

/**
 * Generic elements
 */
body {
  direction: ltr; /* LTR */
  color: #000;
  background: #FFF;
  font-size: 1em;
  font-family: Verdana, Arial, sans-serif;
  font-weight: normal;
  line-height: 1.2em;
  text-align: left; /* LTR */
  margin: 0 auto;
  padding: 0;
}
input {
  font-size: 12px;
  font-family: Verdana, sans-serif;
  line-height: 100%;
}
textarea, select {
  font-size: 12px;
  font-family: Verdana, sans-serif;
  line-height: 160%;
}
h1, h2, h3, h4, h5, h6 {
  display: block;
  clear: both;
  margin: 1em 0 .75em;
  padding: 0;
  font-weight: bold;
  font-family: Verdana, Arial, sans-serif;
  line-height: 1em;
}
h1 {
  font-size: 2.1em;
}
h2 {
  font-size: 1.7em;
}
h3 {
  font-size: 1.3em;
}
h4 {
  font-size: 1.7em;
}
h5 {
  font-size: 1.4em;
}
h6 {
  font-size: 1.2em;
}
code, fieldset {
  margin: .75em 0;
}
pre {
  background: #CCC;
  border: 1px solid #DDD;
  font-size: 12px;
  padding: .75em 1.5em;
}
blockquote {
  margin: 1.5em 0;
}
p {
  margin: .6em 0 1.2em;
  padding: 0;
}
a:link, a:visited {
  color: #467AA7;
  font-weight: bold;
  text-decoration: none;
}
a:hover {
  color: #2A5A8A;
  text-decoration: underline;
}
ul {
  margin: .5em 0 1em;
  padding: 0;
}
ol {
  margin: .75em 0 1.25em;
  padding: 0;
}
ol li, ul li {
  margin: .4em 0 .4em .5em; /* LTR */
}
ul.menu, .item-list ul {
  margin: .35em 0 0 -.5em; /* LTR */
  padding: 0;
}
ul.menu ul, .item-list ul ul {
  margin-left: 0; /* LTR */
}
ol li, ul li, ul.menu li, .item-list ul li, li.leaf {
  margin: .15em 0 .15em .5em; /* LTR */
}
ul li, ul.menu li, .item-list ul li, li.leaf {
  padding: 0 0 .2em 1.5em; /* LTR */
  list-style-type: none;
  list-style-image: none;
  background: transparent url(images/menu-leaf.gif) no-repeat 1px .35em; /* LTR */
}
ol li {
  padding: 0 0 .3em;
  margin-left: 2em; /* LTR */
}
ul li.expanded {
  background: transparent url(images/menu-expanded.gif) no-repeat 1px .35em; /* LTR */
}
ul li.collapsed {
  background: transparent url(images/menu-collapsed.gif) no-repeat 0 .35em; /* LTR */
}
ul li.leaf a, ul li.expanded a, ul li.collapsed a {
  display: block;
}
fieldset {
  padding: .5em;
  border: 1px solid #CCC;
}
fieldset ul.clear-block li {
  margin: 0;
  padding: 0;
  background-image: none;
}
dl {
  margin: .5em 0 1em 1.5em; /* LTR */
}
dl dd {
  margin: 0 0 .5em 1.5em; /* LTR */
}
img, a img {
  border: solid 1px #969696;
  padding: 1px;
}
a:hover img {
  border: solid 1px #DCDCDC;
}
table {
  font-size: 1em;
  width: 100%;
}
thead th {
  font-weight: bold;
}
th a:link, th a:visited {
  color: #6F9DBD;
}
td, th {
  padding: .3em .5em;
}
tr.even, tr.odd, tbody th {
  border-width: 1px 0;
}
tr.odd, tr.info {
  background-color: #F5F5F5;
}
tr.even {
  background-color: #FFF;
}
tr.drag {
  background-color: #FFFFF0;
}
tr.drag-previous {
  background-color: #FFD;
}
tr.odd td.active {
  background-color: #DDECF5;
}
tr.even td.active {
  background-color: #E6F1F7;
}
td.region, td.module, td.container, td.category {
  border-top: 1.5em solid #FFF;
  border-bottom: 1px solid #CCC;
  background-color: #D4E7F3;
  color: #455067;
  font-weight: bold;
}
tr:first-child td.region, tr:first-child td.module, tr:first-child td.container, tr:first-child td.category {
  border-top-width: 0;
}
span.form-required {
  color: #FFAE00;
}
span.submitted, .description {
  font-size: .92em;
  color: #898989;
}
.description {
  line-height: 150%;
  margin-bottom: .75em;
  color: #898989;
}
.messages {
  margin: .75em 0;
  padding: .5em 1em;
}
.messages ul {
  margin: 0;
}
.form-checkboxes, .form-radios, .form-checkboxes .form-item, .form-radios .form-item {
  margin: .25em 0;
}
#center form {
  margin-bottom: 2em;
}
.form-button, .form-submit {
  margin: 2em .5em 1em 0; /* LTR */
}
.form-textarea, .form-text, .form-select {
  border: solid 1px #C8C8C8;
}
.form-submit {
  color: #969696;
  background: #E6E6E6;
  border: solid 1px #969696;
}
.form-select {
  padding: 2px;
}
#dblog-form-overview .form-submit,
.confirmation .form-submit,
.search-form .form-submit,
.poll .form-submit,
fieldset .form-button, fieldset .form-submit,
.sidebar .form-button, .sidebar .form-submit,
table .form-button, table .form-submit {
  margin: 0;
}
.box {
  margin: 2.5em 0;
}
.meta,
.meta * {
  background: none;
  font-family: "Trebuchet MS", Arial, sans-serif;
  font-weight: normal;
  line-height: 20px;
  margin: .2em 0 0;
  padding: 0;
}
.meta {
  color: #AAA;
}
.meta-footer {
  text-align: right; /* LTR */
}

/**
 * Special image mapping
 */
blockquote {
  padding: 0 0 0 24px; /* LTR */
  background: url(images/blockquote.png) left top no-repeat; /* LTR */
  border: none;
}
.comment-new h3.title {
  float: left; /* LTR */
  background: url(images/new.png) right center no-repeat; /* LTR */
  padding: 2px 20px 2px 0; /* LTR */
}
.meta .editlink {
  float: right; /* LTR */
  width: 16px;
  height: 16px;
  background: url(images/pencil.png) center center no-repeat; /* LTR */
  padding: 2px;
}
.meta .submitted {
  background: url(images/date.png) left center no-repeat; /* LTR */
  font-size: 1em;
  padding: 0 0 0 18px; /* LTR */
}
.meta .terms ul.links li {
  background: url(images/tag_blue.png) left center no-repeat; /* LTR */
  padding: 2px 0 2px 18px; /* LTR */
}
ul.links li.blog_usernames_blog {
  background: url(images/user.png) left center no-repeat; /* LTR */
  padding: 2px 0 2px 18px; /* LTR */
}
ul.links li.book_add_child {
  background: url(images/book.png) left center no-repeat; /* LTR */
  padding: 2px 0 2px 18px; /* LTR */
}
ul.links li.book_printer {
  background: url(images/printer.png) left center no-repeat; /* LTR */
  padding: 2px 0 2px 18px; /* LTR */
}
ul.links li.comment_forbidden {
  background: url(images/comment.png) left center no-repeat; /* LTR */
  padding: 2px 0 2px 18px; /* LTR */
}
ul.links li.comment_new_comments,
ul.links li.comment_reply,
ul.links li.comment_add {
  background: url(images/comment_add.png) left center no-repeat; /* LTR */
  padding: 2px 0 2px 18px; /* LTR */
}
ul.links li.comment_delete {
  background: url(images/comment_delete.png) left center no-repeat; /* LTR */
  padding: 2px 0 2px 18px; /* LTR */
}
ul.links li.comment_edit {
  background: url(images/comment_edit.png) left center no-repeat; /* LTR */
  padding: 2px 0 2px 18px; /* LTR */
}
ul.links li.comment_comments {
  background: url(images/comments.png) left center no-repeat; /* LTR */
  padding: 2px 0 2px 18px; /* LTR */
}
ul.links li.node_read_more {
  background: url(images/page_white_text.png) left center no-repeat; /* LTR */
  padding: 2px 0 2px 18px; /* LTR */
}
ul.links li.statistics_counter {
  background: url(images/chart_curve.png) left center no-repeat; /* LTR */
  padding: 2px 0 2px 18px; /* LTR */
}
ul.links li.upload_attachments {
  background: url(images/disk.png) left center no-repeat; /* LTR */
  padding: 2px 0 2px 18px; /* LTR */
}

/**
 * Layout
 */
#header-region {
  float: left;
  width: 100%;
  min-height: 10px;
}
#header-region .block-region {
  display: block;
  margin: 10px;
  padding: .5em;
}
#wrapper {
  float: left;
  width: 100%;
}
#wrapper #container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 10px;
}
#wrapper #container #header {
  float: left;
  width: 100%;
  height: 130px;
}
#wrapper #container #header #logo img {
  float: left; /* LTR */
  margin: 22px -12px 0 22px; /* LTR */
}
#wrapper #container #header #slogan-floater {
  float: left; /* LTR */
  margin: 18px 0 0 22px; /* LTR */
  padding: 0;
}
#wrapper #container #header #slogan-floater h1.site-name {
  float: left; /* LTR */
  margin: 0 0 10px;
  padding: 0;
}
#wrapper #container #header #slogan-floater .site-slogan {
  float: left; /* LTR */
  margin: -8px 0 0;
  padding: 0;
  clear: both;
}

/* With 2 columns, require a minimum width of 1000px. */
body.no-sidebars,
body.sidebar-right {
  min-width: 1000px;

}
/* We must define 100% width to avoid the body being too narrow for near-empty pages */
#center {
  float: left;
  font-size: 100%;
  line-height: 1.5em;
  width: 100%;
  margin: 0;

}
/* So we move the #center container over the sidebars to compensate */

body.sidebar-right #center {
  margin-right: -280px;
}

/* And add blanks left and right for the sidebars to fill */

body.sidebar-right #squeeze {
  margin-left: 30px;
  margin-right: 300px;
  margin-top: 30px;
}

body.no-sidebars #squeeze {
  margin: 30px 0px 300px 30px;
}
/* We ensure the sidebars are still clickable using z-index */
#wrapper #container .sidebar {
  width: 280px;
  float: left;
  padding: 0;
  z-index: 2;
  position: relative;
  
}
.sidebar {
  font-size: 100%;
  line-height: 1.3em;
}
.sidebar .block {
  margin: 0;
}
.block .corner-top-left,
.block .corner-top-right {
  width: 10px;
  height: 10px;
  position: absolute;
  z-index: 100;
  margin: 0;
}
.block .content {
  padding: 0px 15px 0px 15px;
}
.block-region {
  padding: 1em;
  background: transparent;
  border: 2px dashed #007898;
  text-align: center;
  font-size: 1.2em;
}
/* Now we add the backgrounds for the main content shading */
#wrapper #container #main {
  float: left;
  width: 100%;
  border-left: solid 1px #969696;
  border-right: solid 1px #969696;
}
#wrapper #container #main .left-corner {
  float: left;
  width: 100%;
  background:url('images/bg.gif') repeat-y;
  overflow:hidden;
  
}
#wrapper #container #main .right-corner {
  float: left;
  width: 100%;
  
}
#center .node h1,
#center .node h2,
#center .node h3 {
  border-bottom: 0px solid #D2D2D2;
}
#center h1, #center h2,
#center h3, #center h4,
#center h5, #center h6 {
  color: #505050;
  font-family: "Trebuchet MS", Arial, sans-serif;
}
#center h1.title,
#center h2.title,
#center h3.title {
  display: inline;
  color: #646464;
  font-weight: bold;
  font-family: "Trebuchet MS", Arial, sans-serif;
  line-height: 1.23em;
  border: none;
}
#center h1.title a,
#center h2.title a,
#center h3.title a {
  color: #0f3978;
  text-decoration: none;
}
#center h1.title a:hover,
#center h2.title a:hover,
#center h3.title a:hover {
  color: #323232;
  text-decoration: none;
}
#center h1.title,
#center h2.title {
  font-size: 1.83em;
}
#center h3.title {
  font-size: 1.5em;
}
.block h1 {
  font-family: "Trebuchet MS", Arial, sans-serif;
  font-weight: bold;
  line-height: 26px;
  text-align: left; /* LTR */
  margin: 0 0 5px;
  padding: 10px 15px;
}
.block h1 a, .block h1 a:hover {
  color: #0f3978;
  border: none;
  font-weight:bold;
}
.block h2 {
  color: #0f3978;
  font-weight: bold;
  font-size: 100%;
}
.block h3 {
  color: #505050;
  font-weight: bold;
  font-size: 100%;
}
#footer {
  float: left;
  width: 100%;
  color: #808080;
  background: #F0F0F0 url(images/bg-footer.png) repeat-x top left;
  border-left: solid 1px #969696;
  border-right: solid 1px #969696;
  border-bottom: solid 1px #969696;
  text-align: center;
  line-height: 2.5em;
  margin: 0 0 10px;
}
#footer .block-region {
  margin: 10px;
}
#breadcrumb-search {
  display: block;
  float: left;
  width: 100%;
  
}

#breadcrumb-search .breadcrumb {
  display: block;
  float: left; /* LTR */
  height: 46px;
  line-height: 46px;
  margin: 0 0 0 15px; /* LTR */
  padding: 0;
}
#breadcrumb-search .breadcrumb a {
  background: url(images/menu-collapsed.gif) center left no-repeat; /* LTR */
  padding: 0 6px 0 12px; /* LTR */
}
#breadcrumb-search #search-theme-form {
  float: right; /* LTR */
  height: 46px;
  line-height: 46px;
  margin: 0 15px 0 0; /* LTR */
  padding: 0;
}
#breadcrumb-search #search-theme-form label {
  display: none;
}
#breadcrumb-search #search-theme-form #search * {
  margin: 0;
  padding: 0;
}
#mission {
  display: block;
  float: left;
  width: 100%;
  margin: 0;
  padding: 0;
}


/**
 * Right Subcontent
 */
#sidebar-right .block {
  padding:0;
}
#sidebar-right .block-region {
  margin-left: 30px;
  margin-right: 15px;
}
body.sidebar-right #wrapper #container #main .right-corner,
body.two-sidebars #wrapper #container #main .right-corner {
  
}
/* Default block style */
#sidebar-right .block .corner-top-left {
  
  margin-right: 175px;
}
#sidebar-right .block .corner-top-right {
  
  margin-left: 175px;
}
#sidebar-right .block h1 {
  color: #0f3978;
  font-weight:bold;
  
  font-size: 14px;
  margin: 0;
}
#sidebar-right .block .content {
  
  
}

/**
 * Header
 */
#wrapper #container #header {
  color: #768998;
  background: url(images/header.jpg) no-repeat;
  font-family: "Trebuchet MS", Arial, sans-serif;
  border-top: solid 1px #969696;
  border-left: solid 1px #969696;
  border-right: solid 1px #969696;
}
#wrapper #container #header #logo a img, #wrapper #container #header #logo a:hover img {
  border: none;
}
#wrapper #container #header #slogan-floater h1.site-name {
  color: #7D7D7D;
  font-size: 2.4em;
  font-family: "Trebuchet MS", Arial, sans-serif;
  line-height: 1.2em;
}
#wrapper #container #header #slogan-floater h1.site-name a {
  color: #EAEFF7;
  text-decoration: none;
}
#wrapper #container #header #slogan-floater h1.site-name a:hover {
  color: #323232;
  text-decoration: none;
}
#wrapper #container #header #slogan-floater .site-slogan {
  font-size: 120%;
  font-family: "Trebuchet MS", Arial, sans-serif;
  color: #EAEFF7;
  line-height: 1.5em;
}

/**
 * Primary navigation
 */
#primary-links {
  float: left;
  width: 100%;
  background: url(images/primary-bg.jpg) repeat-x ;
  border-left: solid 1px #969696;
  border-right: solid 1px #969696;
  font-family: "Trebuchet MS", Arial, sans-serif;
  font-size: 1.3em;
  text-align: center;
  
}
#primary-links ul {
  float: left; /* LTR */
  list-style: none;
  margin: 0;
  padding: 0;
  z-index: 1000;
}
#primary-links ul li {
  float: left; /* LTR */
  background: none;
  border-left: none; /* LTR */
  border-right: solid 1px #AFAFAF; /* LTR */
  line-height: 30px;
  list-style: none;
  margin: 0;
  padding: 0;
}
#primary-links ul li a {
  display: block;
  color: #ffffff;
  padding: 0 2.0em;
  font-family: sans-serif;
}
/* 2nd-level dropdown */
#primary-links ul ul {
  display: none;
}
#primary-links ul li:hover ul {
  display: block;
  width: 10em;
  position: absolute;
}
#primary-links ul li:hover a {
  background: url(images/primary-bg-a.jpg) repeat-x ;
  text-decoration: none;
}
#primary-links ul li:hover li a {
  white-space: normal;
  display: block;
  width: 10em;
  line-height: 1.3em;
  margin: 0 -1px;
  padding: .25em 1.2em;
  border-left: solid 1px #AFAFAF;
  border-right: solid 1px #AFAFAF;
  border-bottom: solid 1px #AFAFAF;
  background-color: #EDEDED;
  font-weight: normal;
  color: #323232;
}
/* Multi-level dropdowns */
#primary-links ul ul ul,
#primary-links ul li:hover ul ul,
#primary-links ul li:hover li:hover ul ul,
#primary-links ul li:hover li:hover li:hover ul ul {
  display: none;
}
#primary-links ul li:hover li:hover ul,
#primary-links ul li:hover li:hover li:hover ul,
#primary-links ul li:hover li:hover li:hover li:hover ul {
  display: block;
  left: 10em; /* LTR */
  right: auto; /* LTR */
  margin-top: -1em;
  margin-left: 1.2em; /* LTR */
  margin-right: 0; /* LTR */
}
#primary-links ul li:hover li:hover a,
#primary-links ul li:hover li:hover li:hover a,
#primary-links ul li:hover li:hover li:hover li:hover a {
  background-color: #D2D2D2;
}
#primary-links ul li:hover li:hover li a,
#primary-links ul li:hover li:hover li:hover li a,
#primary-links ul li:hover li:hover li:hover li:hover li a {
  background-color: #EDEDED;
  border-top: solid 1px #AFAFAF;
  margin-top: -1px;
}

/**
 * Secondary navigation
 */
#secondary-links ul {
  float: right; /* LTR */
  color: #EAEff7;
  font-size: 1.2em;
  font-weight: bold;
  margin: 18px 17px 0 0; /* LTR */
  padding: 0;
}
#secondary-links ul li {
  margin: 0;
  padding: 0;
}
#secondary-links ul li a:link,
#secondary-links ul li a:visited {
  color: #EAEff7;
  padding: 2px 5px;
}
#secondary-links ul li a:hover,
#secondary-links ul li a:active {
  color: #323232;
  text-decoration: none;
}

/**
 * Local tasks
 */
ul.primary, ul.primary li {
  background: none;
  margin: 1em 0;
  padding: 0;
}
ul.secondary, ul.secondary li {
  background: none;
  margin: .5em 0;
}

/**
 * Nodes & comments
 */
.node {
  margin: 0px 30px 0px 0px;
}
ul.links li, ul.inline li {
  font-size: 1em;
  line-height: 20px;
  margin: 0 1em 0 0; /* LTR */
  padding: 0;
  background-image: none;
}
.picture {
  border: none;
  float: right; /* LTR */
  margin: 0 0 .5em .5em; /* LTR */
}
.sticky {
  padding: .5em;
  border: 1px solid #CCC;
}
.comment {
  border: 1px solid #CCC;
  margin: 1em 0 0;
  padding: .5em;
}
.indented {
  margin-left: 25px; /* LTR */
}
.node .content, .comment .content {
  margin: .6em 0;
}

/**
 * Aggregator.module
 */
#aggregator {
  margin-top: 1em;
}
#aggregator .feed-item-title {
  font-size: 100%;
  line-height: 130%;
}
#aggregator .feed-item {
  border-bottom: 1px solid #CCC;
  margin: -1.5em 0 1.75em;
  padding: 1.5em 0;
}
#aggregator .feed-item-categories {
  font-size: .92em;
}
#aggregator .feed-item-meta {
  font-size: .92em;
  color: #CCC;
}

/**
 * Menu.module
 */
tr.odd td.menu-disabled {
  background-color: #FFF;
}
tr.even td.menu-disabled {
  background-color: #FFF;
}

/**
 * OpenID.module
 */
#user-login-form li.openid-link,
#user-login li.openid-link {
  background-position: left center; /* LTR */
  margin: 0;
  padding: 2px 0 2px 18px; /* LTR */
}

/**
 * Autocomplete.
 */
#autocomplete li {
  cursor: default;
  padding: 2px;
  margin: 0;
}

/**
 * Login Block
 */
#user-login-form {
  text-align: center;
}
#user-login-form ul {
  text-align: left; /* LTR */
}

/**
 * User profiles.
 */
.profile {
  margin-top: 1.5em;
}
.profile h3 {
  border-bottom: 0;
  margin-bottom: 1em;
}
.profile dl {
  margin: 0;
}
.profile dt {
  font-weight: normal;
  font-size: .92em;
  line-height: 1.3em;
  margin-top: 1.4em;
  margin-bottom: .45em;
}
.profile dd {
  margin-bottom: 1.6em;
}

/**
 * CSS support
 */

/*******************************************************************
 * Color Module: Don't touch                                       *
 *******************************************************************/

/**
 * Generic elements.
 */
.messages {
  background-color: #FFF;
  border: 1px solid #B8D3E5;
}
.preview {
  background-color: #FCFCE8;
  border: 1px solid #E5E58F;
}
div.status {
  color: #33A333;
  border-color: #C7F2C8;
}
div.error, tr.error {
  color: #A30000;
  background-color: #FCC;
}
.form-item input.error, .form-item textarea.error {
  border: 1px solid #C52020;
  color: #363636;
}

/**
 * dblog.module
 */
tr.dblog-user {
  background-color: #FCF9E5;
}
tr.dblog-user td.active {
  background-color: #FBF5CF;
}
tr.dblog-content {
  background-color: #FEFEFE;
}
tr.dblog-content td.active {
  background-color: #F5F5F5;
}
tr.dblog-warning {
  background-color: #FDF5E6;
}
tr.dblog-warning td.active {
  background-color: #FDF2DE;
}
tr.dblog-error {
  background-color: #FBE4E4;
}
tr.dblog-error td.active {
  background-color: #FBDBDB;
}
tr.dblog-page-not-found, tr.dblog-access-denied {
  background: #D7FFD7;
}
tr.dblog-page-not-found td.active, tr.dblog-access-denied td.active {
  background: #C7EEC7;
}

/**
 * Status report colors.
 */
table.system-status-report tr.error, table.system-status-report tr.error th {
  background-color: #FCC;
  border-color: #EBB;
  color: #200;
}
table.system-status-report tr.warning, table.system-status-report tr.warning th {
  background-color: #FFD;
  border-color: #EEB;
}
table.system-status-report tr.ok, table.system-status-report tr.ok th {
  background-color: #DFD;
  border-color: #BEB;
}
